@mainColor: blue;

@import "pizza/pizza-card";

.upPole{
  height: 100px;
  background-color: black;
  opacity: 0.5;
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index:2;
  margin: 2px;
}
.btn-signIn{
  z-index: 3;
  margin-left: 90%;
  margin-top: 10%;
}
.container{}
