<div class="mainBody">


    <div class="rightPanel ">
        <div class="rTop">
        <span class="order">
            Замовлення
        </span>

            <label class="label label-warning inCart">
                0
            </label>
            <br>
            <span class="clear">Очистити замовлення</span>
        </div>

        <div id="cart" class="rContainer">



        </div>

        <div class="rBottom">
            <div class="sumText">
                <b>Сума замовлення</b>
            </div>
            <div class="sum">
                <b>
                    <span class="summ">0</span> грн.</b>
            </div>
            <div class="rb">
                <div class="col-sm-12 col-md-12">

                    <a href="http://localhost:5050/order.html">
                        <button type="accept" class="btn btn-lg btn-warning">Замовити</button>
                    </a>

                </div>
            </div>
        </div>


    </div>
    <div></div>
    <div class="container">

        <div class="all">
            Усі піци
            <label class="label label-warning">
                8
            </label>
        </div>

        <div class="different">
            <label id = "meat" class="label label-warning all">
                Усі
            </label>
            <label class="label label-default meat">
                М'ясні
            </label>
            <label class="label label-default pineapple">
                З ананасами
            </label>
            <label class="label label-default mushrooms">
                З грибами
            </label>
            <label class="label label-default seafood">
                З морепродуктами
            </label>
            <label class="label label-default vega">
                Вега
            </label>
        </div>


        <div class="row" id="pizza_list">

        </div>

    </div>

</div>