<% include header.ejs %>
<div class="order">


    <div class="forms">

        <h2 class="contacts">1.Контактні дані</h2>

        <div class="col-sm-8">

            <div class="left">

                <div class="form-group name-group">
                    <div class="col-sm-6">
                        <label class="names">
                            Ім'я
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="Text" id="user_name" class="form-control" placeholder="Type your name here"
                               oninput="readName()">
                    </div>
                    <span class="help-block">Enter ONLY your name & surname</span>
                </div>

                <div class="form-group name-group">
                    <div class="col-sm-6">
                        <label class="names">
                            Телефон
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="Text" id="user_phone" class="form-control" placeholder="+380000000000"
                               oninput="readPhone()">
                    </div>


                    <span class="help-block">Enter your phone number </span>
                </div>

                <div class="form-group phone-group">
                    <div class="col-sm-6">
                        <label class="names">
                            Адреса
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="Text" id="user_adress" class="form-control" placeholder="КМЦ"
                               oninput="readAdress()"></div>
                    <span class="help-block">Enter your phone number </span>
                </div>


            </div>
        </div>

        <script> // THIS IS FOR CHECKING VALIDATION OF INPUT AREAS
            function readName() {

                var name = document.getElementById("user_name");
                var x = name.value;
                var regex = /^[0-9]+$/;
                if (x.charAt(x.length - 1).match(regex)) {
                    name.style.backgroundColor = "#ffc1c3";
                    name.style.color = "red";
                } else {
                    name.style.backgroundColor = "#b8ffb7";
                    name.style.color = "green ";
                }
                if (x.length == 0) {
                    name.style.backgroundColor = "#ffc1c3";
                    name.style.color = "red ";
                }
            }
            var maxcount = 13;
            function readPhone() {
                var phone = document.getElementById("user_phone");
                var x = phone.value;
                var regex = /^[0-9]+$/;
                if (!x.charAt(x.length - 1).match(regex)) {
                    phone.style.backgroundColor = "#ffc1c3";
                    phone.style.color = "red ";
                } else {
                    phone.style.backgroundColor = "#b8ffb7";
                    phone.style.color = "green";
                }
                if (x.length !== maxcount) {
                    phone.style.backgroundColor = "#ffc1c3";
                    phone.style.color = "red ";
                }
            }
            function readAdress() {
                var adress = document.getElementById("user_adress");
                var x = adress.value;
                if (x.length == 0) {
                    adress.style.backgroundColor = "#ffc1c3";
                    adress.style.color = "red ";
                } else {
                    adress.style.backgroundColor = "#b8ffb7";
                    adress.style.color = "green";
                }
            }
            function sendData() {
                var $name = document.getElementById("user_name").value;
                var $phone = document.getElementById("user_phone").value;
                var $adress = document.getElementById("user_adress").value;
                console.log($name);
                console.log($phone);
                console.log($adress);
 //               document.getElementById("destAdress").innerHTML = $adress;
//                var content = require('../../API');
//                content.createOrder($name, function (err, order_info, callback) {
//                });
//                content.createOrder($phone, function (err, order_info, callback) {
//                });
//                content.createOrder($adress, function (err, order_info, callback) {
//                });
//                console.log("success");
            }
        </script>

        <div class="col-sm-4">
            <div class="right">
                <div class="infoOrder">
                    <div class="infoHead">
                        Інформація про замовлення
                    </div>
                    <div class="time">
                        <b>
                            Приблизний час доставки:
                        </b>
                        <span id="duration" class="timeStatus">
                            3 хв
                        </span>
                    </div>

                    <div class="adress">
                        <b>
                            Адреса доставки:
                        </b>
                        <span id="destAdress" class="adressStatus">
                            КМЦ
                        </span>
                    </div>


                </div>
            </div>
        </div>

        <button type="next" class="btn btn-warning pay" onclick="sendData()"><b>Далі ></b></button>


    </div>
    <div class="rightPanel ">
        <div class="rTop">
        <span class="order">
            Замовлення
        </span>

            <label class="label label-warning inCart">
                0
            </label>
            <br>
            <span class="clear">Очистити замовлення</span>
        </div>

        <div id="cart" class="rContainer">


        </div>

        <div class="rBottom">
            <div class="sumText">
                <b>Сума замовлення</b>
            </div>
            <div class="sum">
                <b>
                    <span class="summ">0</span> грн.</b>
            </div>
            <div class="rb">
                <div class="col-sm-12 col-md-12">
                    <button type="accept" class="btn btn-lg btn-warning">Замовити</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2biXp0mMOXjOqzgNKhREM-H4OG-2rc-g">
</script>
<script src="http://static.liqpay.com/libjs/checkout.js" async></script>

<!-- місце для віджету -->
<!--<div id="liqpay" style="width:800px;height:400px;background:yellow;-->
<!--margin-left:10%;margin-right:auto;margin-top: 35%">-->
<!--<p>-->
<!--liqpay form is here-->
<!--</p>-->
<!--<button id="bLiq" onclick="liqPayInit()"></button>-->
<!--</div>-->
<!-- піключаємо скрипт -->
<!--<script-->
<!--src="static.liqpay.com/libjs/checkout.js">-->
<!--</script>-->


<!--<script>-->
    <!--public_key = 'i8990856747';-->
    <!--private_key = 'u5hKYg2IegXGX78oPvYs62RkbKt5CXRYZMYyOfK1';-->

    <!--var LiqPay = require('liqpay');-->
    <!--var liqpay = new LiqPay(public_key, private_key);-->
    <!--var html = liqpay.cnb_form({-->
        <!--'public_key': public_key,-->
        <!--'action': 'pay',-->
        <!--'amount': '1',-->
        <!--'currency': 'USD',-->
        <!--'description': 'description text',-->
        <!--'order_id': 'order_id_1',-->
        <!--'version': '3',-->
        <!--'sandbox': '1'-->
    <!--});-->
    <!--data_test_value = "eyAidmVyc2lvbiIgOiAzLCAicHVibGljX2tleSIgOiAieW91cl9wdWJsaWNfa2V5IiwgImFjdGlv" +-->
        <!--"biIgOiAicGF5IiwgImFtb3VudCIgOiAxLCAiY3VycmVuY3kiIDogIlVTRCIsICJkZXNjcmlwdGlv" +-->
        <!--"biIgOiAiZGVzY3JpcHRpb24gdGV4dCIsICJvcmRlcl9pZCIgOiAib3JkZXJfaWRfMSIgfQ=="-->

    <!--signature_test_value = "QvJD5u9Fg55PCx/Hdz6lzWtYwcI=";-->

    <!--function base64(str) {-->
        <!--return new Buffer(str).toString('base64');-->
    <!--}-->
    <!--;-->

    <!--function sha1(str) {-->
        <!--var crypto = require('crypto-js');-->
        <!--var sha1 = crypto.createHash('sha1');-->
        <!--return sha1.update(str);-->
        <!--//return sha1.digest('base64');-->
    <!--}-->
    <!--;-->


    <!--function prepare_data() {-->
        <!--alert('prepare');-->
        <!--var public_key = 'i8990856747';-->
        <!--var private_key = 'u5hKYg2IegXGX78oPvYs62RkbKt5CXRYZMYyOfK1';-->
        <!--var data_json = {-->
            <!--'public_key': 'i8990856747',-->
            <!--'action': 'pay',-->
            <!--'amount': '1',-->
            <!--'currency': 'USD',-->
            <!--'description': 'description text',-->
            <!--'order_id': 'order_id_1',-->
            <!--'version': '3',-->
            <!--'sandbox': '1'-->
        <!--}-->
        <!--var data = window.btoa(JSON.stringify(data_json));-->
        <!--document.getElementById("card_form_data").value = data;-->
        <!--//var signature =  window.btoa(sha1( private_key+data+private_key));-->
        <!--var signature = window.btoa(sha1(private_key));-->

        <!--alert(signature);-->
        <!--document.getElementById("card_form_signature").value = signature;-->
    <!--}-->
    <!--;-->

<!--</script>-->
</head>

<body>

<div id="liqpay_checkout">
</div>
<script>
    function liqpayPay() {
        // alert('LiqPayCheckout.init');


    };

</script>
<!--<script src="http://static.liqpay.com/libjs/checkout.js" async>-->
<!--</script>-->


<div id="mapjs" style="width:800px;height:400px;background:gray;
margin-left:10%;margin-right:auto; margin-top: 35%;margin-bottom: 10%"><p>....OOPS SOMETHING WRONG IS GOING ON </BR> THE MAP MUST BE
        PLACED HERE </p>
</div>

<script>

    google.maps.event.addDomListener(window, 'load', initMap);

    function initMap() {
        var markerList = [];
        var pizzaPlace = {lat: 50.464379, lng: 30.519131};
        var v_dest = {lat: 50.466121, lng: 30.523392};
        var vmap = new google.maps.Map(document.getElementById('mapjs'), {
            center: pizzaPlace,
            zoom: 16
        });
        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer({
            map: vmap,
            suppressMarkers: true
        });

        calcRoute(directionsService, directionsDisplay, vmap, markerList, pizzaPlace, v_dest);

        // This event listener will call addMarker() when the map is clicked.
        vmap.addListener('click', function (event) {

            // alert('clickDone');
            v_dest = event.latLng;
            markerList[0].setMap(null);
            markerList[1].setMap(null);
            markerList.length = 0;
            calcRoute(directionsService, directionsDisplay, vmap, markerList, pizzaPlace, v_dest);
            //          alert(v_dest);
            try {
                getDest(v_dest)
            }
            catch (err) {
                alert(v_dest)
            }
//            initialize();

        });
    }
    ;
    function getDest(a_dest) {

        var vcallback;

        geocodeLatLng(a_dest, function(err, result){
            if(!err) {
                console.log(result);
                document.getElementById('destAdress').innerHTML = result.formatted_address;
          //      document.getElementById('duration').innerHTML = result.duration.text;
                console.log('duration ',result.duration);
            }
        });
        document.getElementById('destAdress').value = vcallback;
//        alert(document.getElementById('destAdress').value);
        //оновлюємо адресу по координатах
//        var vcallback = {
//            errCode: new Error(' '),
//            val: a_dest
//        };
//       alert(vcallback);
//        if (vcallback.errCode == null) {
//            document.getElementById('destAdress').value = vcallback;
//        }else{
//            document.getElementById('destAdress').value = vcallback;
//        }
    }
    ;

    function geocodeLatLng(alatlng, acallback) {
//Модуль за роботу з адресою
        var geocoder = new google.maps.Geocoder();
        var geocoderRequest = {
            location: alatlng
        };
        var geocoderResult;
        geocoder.geocode(geocoderRequest, function (results, status) {

            if (status === google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    acallback(null, results[0]);
                 //   console.log(results[0].duration.text)
                }
            } else {
                //           acallback(new Error("Can't find address"));
                acallback("Can't find address");
            }
        });
    }
    ;



//    function initialize() {
//        var address = 'Noguera 429 San Antonio de Padua';
//        var myCenter;
//        var geocoder = new google.maps.Geocoder();
//
//        geocoder.geocode({
//            "address": address
//        }, function(results, status) {
//            if (status === google.maps.GeocoderStatus.OK) {
//                myCenter = results[0].geometry.location;
////                var mapProp = {
////                    center: myCenter,
////                    zoom: 15,
////                    mapTypeId: google.maps.MapTypeId.ROADMAP
////                };
//
//         //       var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
//
//                var marker = new google.maps.Marker({
//                    position: myCenter,
//                    // icon:'css/images/pin.png'
//                });
//
//                marker.setMap(map);
//            } else {
//                alert('Geocode was not successful for the following reason: ' + status);
//            }
//        });
//    }






    function calcRoute(aDS, aDR, amap, amarkerList, astart, adest) {
//        var end = event.latLng.value;

        aDR.setMap(null);
        var request = {
            origin: astart,
            destination: adest,
            travelMode: 'DRIVING',
            drivingOptions: {
                departureTime: new Date(Date.now()),
                trafficModel: 'pessimistic'
            }

        }
        console.log(request);
        var response;

        aDS.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                aDR.setDirections(response);
                var vleg = response.routes[0].legs[0];
                addMarker(amarkerList, vleg.start_location, amap, "assets/images/map-icon.png");
                addMarker(amarkerList, vleg.end_location, amap);
            }
        });
        //    directionsDisplay.suppressMarkers = false;
        aDR.setMap(amap);
    }
    // Adds a marker to the map and push to the array.
    function addMarker(amarkerList, alocation, amap, aicon) {
        // var point = new google.maps.LatLng(50.464379,30.519131)
        var vicon = "assets/images/home-icon.png";
        if (aicon != null) {
            vicon = aicon;
        }
        ;
        var marker = new google.maps.Marker({
            position: alocation,
            map: amap,
            icon: vicon
        });
        amarkerList[amarkerList.length] = marker;
    }

</script>


<% include footer.ejs %>

<script>

</script>